.packsContainer{
  width: 1000px;
  border: 1px solid;
  display: flex;
  flex-direction: column;

  .dataCards{
    display: flex;
   justify-content: space-between;
    margin-bottom: 24px;
  }
.search{


}
  .choiceCards{

    .myCards{

    }
    .allCards{
    }
  }
  .sliderCont{
    .slider{
      display: flex;
    }

  }
}