.packsBlock{
  width:100% ;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
.container {
  width: 1000px;
  height: 100%;
  border: 1px solid lightgray;

  .dataCards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .search {


  }

  .choiceCards {

    .myCards {

    }

    .allCards {
    }
  }

  .sliderCont {
    .slider {
      display: flex;
    }

  }
}
}