.input{
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  //flex-direction: column;
  justify-content: center;
  //align-items: center;
  input{
    border: none;
    width: 250px;
    opacity: 0.8;
    border-bottom: 2px solid gray;
    //background-color: transparent;
    color: inherit;
    outline: none;

  }
  .checkbox{
    width: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}