.paginationBlock{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  button{
    background: none;
    border: none;
    &:hover{
      background: lightgray;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .active{
    width: 20px;
    height: 20px;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    color:white;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    background-color: #366EFF;
    border-radius: 2px;

  }
  .page{
 width: 20px;
    height: 20px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;

    &:hover{
     background: lightgray;
     cursor: pointer;
     border-radius: 5px;
   }
  }
}