.title{
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 40px;
  margin-top: 35px;
  text-align: center;
  //letter-spacing: 0em;


}