@import  'src/common/styles/variables';

  .forgotPassword {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    a {
      color: $colorButton;
      font-family: Montserrat sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      align-items: flex-start;
      text-decoration: none;

      &:hover {
        text-decoration: underline $colorButton;
      }
    }
    }


