.dataCards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  .icon{
    display: flex;
    align-items: flex-end;
  }

  .search {
  }
  .choiceCards {
    .myCards {
    }

    .allCards {
    }
  }
  .sliderCont {
    .slider {
      display: flex;
    }
  }
  }

