


  .dataCards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .search {


  }

  .choiceCards {

    .myCards {

    }

    .allCards {
    }
  }

  .sliderCont {
    .slider {
      display: flex;
    }

  }

