@import  'src/common/styles/variables.scss';

.app {
  min-height: 100vh;
  background:$bgColor;
  .container{
    width:100% ;
   min-height: 90vh;
   margin: 0 auto;
    z-index: 6;
  }
}
.loader{
  position: fixed;
  top: 60%;
  textAlign: center;
  width: 100%
}
