@import  'src/common/styles/variables';
@import  'src/common/styles/mixins';
.button {
  //width: 136px;
  height: 36px;
  background: $colorButton;
  border-radius: 30px;
  border: none;
  color:white;
  @include text(16px,500);
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  min-width: 136px;
  margin: 29px 0 39px 0;

  cursor:pointer;
}