.description{
  font-family: Montserrat sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  //letter-spacing: 0em;
  text-align: center;
text-decoration: underline;
  color: #366EFF;
  margin: 11px 0 42px 0;
}